*{
    margin: 0;
    padding: 0;
}
:root{
    --color-1: rgb(37, 37, 37);
    --color-2: rgb(63, 63, 63);
    --color-3: rgb(95, 95, 95);
    --color-4: rgb(173, 173, 173);

}
.poppins-font{
     font-family: "Poppins", sans-serif;
}
.hidden{
    display: none;
}
.active{
    background-color:  rgb(193, 215, 255);
}
body{
    background-color: rgb(236, 236, 236);
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
}
section{
    width: 400px;
    border-radius: 24px;
    background-color: white;
    padding: 48px;
}
h3{
    margin: 0;
    font-size: 2rem;
    color: var(--color-1);
}
p{
    color: var(--color-2);
    margin: 0;
}
hr{
    margin: 1.5rem 0;
    color: var(--color-4);
    opacity: 50%;
}
.btn-container{
    display: flex;
    justify-content: space-around;
}
.btn{
    padding: 12px 24px;
    border-radius: 10px;
    border: none;
    font-weight: 500;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: var(--color-2);
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
input{
    padding: 10px 16px;
    border-radius: 8px;
    border: solid 1px rgb(165, 165, 165);
    font-size: 1rem;
    color: var(--color-3);
    font-family: 'Poppins', sans-serif;
}
input:focus{
    outline: 3px rgb(165, 165, 165) double;
}
input::placeholder{
    font-size: .8rem;
    color: var(--color-4);
}
